@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 19px;
    line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 40px;
}

p, li {
    max-width: 80%;
}

p.commentline, p.sourceline {
    display: none;
}

code, pre {
    font-family: Inconsolata, Consolas, Menlo, Monaco, 'Andale Mono', 'Liberation Mono', monospace;
    font-size: 18px !important;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Noto Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #249;
}

.navbar-inverse .navbar-brand {
    font-family: 'Noto Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #028;
    font-weight: bold;
}

.navbar-inverse {
    background-color: #eee;
}

.tags > li {
    font-size: 16px;
    font-family: 'Noto Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #dde;
    color: #000;
}

.tags > li a {
    color: #000;
}

.badge {
    font-size: 16px;
    font-family: 'Noto Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #dde;
    color: #000;
}

.navbar-brand #logo {
    margin-right: 8px;
}

div.prompt {
    display: none;
}

/* Override some garbage from nikola_ipython.css */
pre {
    font-size: 18px !important;
    line-height: 2.4ex !important;
    background-color: transparent !important;
}

pre code {
    background-color: transparent !important;
}

.input_area > pre code {
    font-size: 18px !important;
    background-color: #f5f5f5 !important;
}

.output_area > pre {
    font-size: 18px !important;
}

.rendered_html pre {
    padding-top: 1ex !important;
    padding-bottom: 1ex !important;
}

.rendered_html table {
    font-size: 18px !important;
}
